@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    [data-theme] {
        transition: all 0.3s ease;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
}
@layer utilities {
    .btn:hover, .btn:focus {
        --tw-bg-opacity: 0.1;
        background-color: rgba(var(--color-primary), var(--tw-bg-opacity));
    }
}